@import '../theme.scss';

.detail-page-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: $spacing;
    box-sizing: border-box;

    > ._content {
        flex: 1;
        padding: $page-gutter;
        margin-bottom: 10px;
        background: white;
        border-radius: 5px;
        box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.1);
    }
}