@import '../theme.scss';

.hotels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Oranienbaum',
    serif;
    color: $grey-text;
    letter-spacing: 1px;

    @media #{$isPhone} {
        letter-spacing: 0;
    }

    >._title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: $spacing;
        font-size: 20px;

        @media #{$isPhone} {
            margin-bottom: 10px;
            font-size: 14px;
        }

        >._image {
            width: 100px;
            height: 50px;
            filter: brightness(150%);
            background: url('https://firebasestorage.googleapis.com/v0/b/wedding-a1abe.appspot.com/o/leaf-border.png?alt=media&token=f7131637-1578-4cab-8177-944e5cd9dac6') no-repeat;
            background-size: cover;
            background-position: bottom;

            @media #{$isPhone} {
                width: 50px;
                height: 25px;
            }
        }
    }

    > ._columns {
        display: flex;
        justify-content: space-between;

        @media #{$isPhone} {
            flex-direction: column;
        }

        > ._column {
            position: relative;
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 $page-gutter * 2;

            @media #{$isPhone} {
                padding: 0 10px;
            }

            >._cursive {
                position: absolute;
                top: 20%;
                font-family: 'Sacramento',
                    cursive;
                font-size: 50px;
                color: #f2f2f2;
                text-shadow: 2px 2px 2px rgba($grey-shadow, 0.4);
                z-index: 1;
                pointer-events: none;

                @media #{$isPhone} {
                    font-size: 30px;
                }
            }
            

            > ._link {
                position: relative;
                width: 215px;
                height: 175px;
                background: linear-gradient(rgba($grey-shadow, 0.5),
                    rgba($grey-shadow, 0.5)),
                url('https://firebasestorage.googleapis.com/v0/b/wedding-a1abe.appspot.com/o/ivey.png?alt=media&token=84dee180-6fa3-48df-9e6b-21ad26963266') no-repeat;
                background-size: cover;
                background-position: bottom;
                margin: 10px 0 $page-gutter 0;

                text-decoration: none;

                @media #{$isPhone} {
                    width: 115px;
                    height: 75px;
                    margin: 5px 0 10 0;
                }

                &.-delta {
                    background: linear-gradient(rgba($grey-shadow, 0.5),
                        rgba($grey-shadow, 0.5)),
                    url('https://firebasestorage.googleapis.com/v0/b/wedding-a1abe.appspot.com/o/delta.png?alt=media&token=5cd5bb47-0ca6-42b4-a876-2ab88eb5062f') no-repeat;
                    background-position: center;
                }
            }

            > span {
                text-align: center;

                @media #{$isPhone} {
                    font-size: 12px;
                }
            }
            
        }
    }
}