@import '../theme.scss';

.page-layout {
    display: flex;
    flex-direction: column;
    padding: $page-gutter;
    height: 100%;
    box-sizing: border-box;

    > ._content {
        flex: 1;
        height: 100%;
    }
}
    
