@import '../theme.scss';

.page-layout {
    display: flex;
    flex-direction: column;
    height: 100%;

    @media #{$isTablet} {
        padding-bottom: $page-gutter
    }
    @media #{$isPhone} {
        padding-bottom: $page-gutter
    }

    > ._tall-section {
        flex: 1;
        padding: 58vh $page-gutter $page-gutter;

        @media #{$isTablet} {
            padding: 70vh $page-gutter $page-gutter;
        }

        @media #{$isPhone} {
            padding: 40px 100px;
        }
    }

    > ._short-section {
        flex: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: $page-gutter $page-gutter * 2;

        @media #{$isTablet} {
            padding: $page-gutter;
        }

        @media #{$isPhone} {
            flex: 1;
            justify-content: center;
            padding: 45px 75px;
            flex-wrap: wrap;
        }

        > div {
            padding: 10px 20px;
            font-size: 16px;
            font-family: 'Oranienbaum', serif;
            color: $grey-text;
            letter-spacing: 2px;
            text-shadow: 1px 1px 0px rgba($grey-shadow, 0.4);
            transition: all 0.2s ease-in;

            @media #{$isTablet} {
                padding: 5px 10px;
                font-size: 14px;
                letter-spacing: 1px;
            }

            &:hover {
                background: rgba($rose, 0.4);
                border-radius: 5px;
                box-shadow: 1px 1px 3px 2px rgba($grey-shadow, 0.3);
            }
        }
    }
}
