@import '../theme.scss';


.registry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Oranienbaum',
    serif;
    color: $grey-text;
    letter-spacing: 1px;

    @media #{$isPhone} {
        letter-spacing: 0;
    }

    >._title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: $spacing;
        font-size: 20px;

        >._image {
            width: 100px;
            height: 50px;
            filter: brightness(150%);
            background: url('https://firebasestorage.googleapis.com/v0/b/wedding-a1abe.appspot.com/o/leaf-border.png?alt=media&token=f7131637-1578-4cab-8177-944e5cd9dac6') no-repeat;
            background-size: cover;
            background-position: bottom;
        }
    }

    > ._columns {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;

        > ._column {
            flex: 1;
            display: flex;
            justify-content: center;

             > ._link {
                width: 85%;
                height: 200px;
                background: url('https://firebasestorage.googleapis.com/v0/b/wedding-a1abe.appspot.com/o/thebay.png?alt=media&token=709d8d8b-2c48-4b24-ab79-92103c3613ed') no-repeat;
                background-size: contain;
                background-position: center;
                text-decoration: none;

                &.-amazon {
                    background: url('https://firebasestorage.googleapis.com/v0/b/wedding-a1abe.appspot.com/o/amazon.png?alt=media&token=422cbddb-eff1-4ffc-b5de-1b103886126e') no-repeat;
                }
            }
        }
    }
}