.reports {
    height: 100%;
    overflow-y: scroll;

    > table {
        border-collapse: collapse;

        > thead {
            padding: 0;
            border-bottom: 1px solid black;

            > tr > th {
                padding: 10px 30px;
            }
        }

        > tbody {
            height: 100%;
            > tr > td {
                padding: 10px 30px;
            }
        }
    }
}

  @import '../theme.scss';


 