$blush-dark: #95555c;
$rose: #f8cfc5;
$grey-text: #595959;
$light-grey-text: #bfbfbf;
$grey-shadow: #8c8c8c;

$spacing: 15px;
$page-gutter: 30px;

$isTablet: "only screen and (max-width: 780px)";
$isPhone: "only screen and (max-width: 480px)"